.header {
    background-color:#2b3e5f;;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    font-weight: bold;
    height: 50px;
  }

  .header-left{
    display: flex;
    align-items: center;
  }

  .header-left .icon{
    margin-right: 8px;
    margin-left: 100px;
  }

  .header-right{
    display: flex;
    align-items: center;
    margin-right: 100px;
  }

  .header-right .icon{
    margin-left: 15px;
    cursor: pointer;
  }

  .header-right span{
    margin-left: 10px;
    cursor: pointer;
  }

  .icon{
    font-size:18px;
  }

  .navbar{
    background-color:white;
    padding: 10px 20px;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    font-weight: bold;
    height: 100px;
  }

  .logo img{
    max-height:20%;
    margin-left: 100px;
    cursor: pointer;
  }

  nav ul{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
    margin-right: 100px;    
  }

  nav ul li{
    margin:0 15px;
    cursor: pointer;
   
  }

  nav ul li a {
    text-decoration: none;
    color: #2F4364;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #D62B2B;
  }
  
  nav ul li a i {
    margin-left: 5px;
  }

  .countryDropdown{
    position: relative;
    display: inline-block;
  }
  
  .countryDropdown .dropdownMenu{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow:0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .countryDropdown:hover .dropdownMenu {
    display: block; 
}

.countryDropdown .dropdownMenu li{
  color: #2b3e5f;
}

.countryDropdown .dropdownMenu li:hover{
  color: #D62B2B;
}

 